body {
  font-family: 'Roboto', sans-serif;
  color: $mainText;
  background-color: white;
  padding: 10px;
}

li {
  list-style: none;
}

/* prevent "margin collapsing" from causing a gap between the header and the top of the page */

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $mainText;
}

a:hover {
  color: #dbac20;
}

a:visited {
  color: pink;
}
