body {
  font-family: 'Roboto', sans-serif;
  color: $mainText;
  background-color: $bodyBackground;
}

li {
  list-style: none;
}

/* prevent "margin collapsing" from causing a gap between the header and the top of the page */

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $linkUnvisited;
}

a:hover {
  color: $linkHover;
}

a:visited {
  color: $linkVisited;
}

