/* Text */
$mainText: #393e41;
$linkUnvisited: #7e5620;
$linkHover: #dbac20;
$linkVisited: #ffc0cb;

/* Header */
$headerBackground: #edae49;
$headerStripeTop: #393e41;
$headerStripeBottom: #b30000;
$headerText: #7e5920;

/* Footer */
$footerBackground: #393e41;
$footerText: #d3d0cb;
$footerLink: #d3d0cb;
$footerLinkHover: #fff;
$footerLinkVisited: #d3d0cb;

