/* Body */
$bodyBackground: #edae49;

/* Text */
$mainText: #393e41;
$linkUnvisited: #7e5620;
$linkHover: #dbac20;
$linkVisited: #7e5620;

/* Header */
$headerBackground: #edae49;
$headerText: #7e5920;

/* Footer */
$footerBackground: #393e41;
$footerText: #d3d0cb;
$footerLink: #d3d0cb;
$footerLinkHover: #fff;
$footerLinkVisited: #d3d0cb;

/* Main Column */
$mainColumnBackground: #fff;

/* Sidebar */
$sidebarBackground: #393e41;
$sidebarText: #d3d0cb;
$sidebarLink: #d3d0cb;
$sidebarLinkHover: #fff;
$sidebarLinkVisited: #d3d0cb;

/* Stripes */
$stripeTop: #393e41;
$stripeBottom: #b30000;

