/* Main Column */
.main-column {
  width: 75%;
  float: right;
  margin-bottom: 0;
}

/* Widgets Column */
.widgets-column {
  width: 25%;
  height: 100%;
  float: left;
  background-color: $sidebarBackground;
  color: $sidebarText;
  margin-bottom: 0;

  a {
    color: $sidebarLink;
  }

  a:hover {
    color: $sidebarLinkHover;  
  }
}
