/* Site Footer */

.site-footer {
  clear: right;
  height: 80px;
  background-color: $footerBackground;
  color: $footerText;
  margin-top: 0;

  &__menu {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  ul {
    padding: 0px;
  }

  li {
    display: inline-block;
    padding: 0 8px;
  }

  a {
    color: $footerLink;
  }

  a:hover {
    color: $footerLinkHover;
  }

  a:visited {
    color: $footerLinkVisited;
  }
}

