.front-page__see-all-posts {
  padding-right: 20px;
  background-color: $headerBackground;
}

.front-page__stripe {
  background-color: $stripeBottom;
  min-height: 10px;
}

.front-page__continue-link {
  font-size: 0.75em;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 20px;
}

.post-container {
  position: relative;
}
