/* Front Page Posts Grid */
.posts-grid {
  padding: 20px;
  @mixin atMedium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 5px;
  }
}

.post-container {
  padding: 15px;
}
